@model IEnumerable<WebBanHangOnline.Models.ShoppingCartItem>
@using WebBanHangOnline.Common
@if (Model != null && Model.Any())
{
    <h3>Giỏ hàng <span style="float:right;"><small>@Model.Count()</small></span></h3>
    var tongtien = decimal.Zero;
    <div style="border: 1px solid #808080;">
        <table class="table">
            <tr>
                <th style="width:200px;">Tên sản phẩm</th>
                <th>Giá</th>
                <th style="width:100px;">Số lượng</th>
            </tr>
            @foreach (var item in Model)
            {
                tongtien += item.TotalPrice;
                <tr>
                    <td>@item.ProductName</td>
                    <td>@Common.FormatNumber(item.Price, 0)</td>
                    <td align="center">@item.Quantity</td>
                </tr>



            }
            <tr>
                <td>Tổng tiền</td>
                <td>@Common.FormatNumber(tongtien, 0)</td>
            </tr>
        </table>
    </div>
    


}

else
{

}

